
/* 戦闘画面
---------------------------------------------------- */
.hp_bar{
    display: flex;
}
.my_frame{
    display: flex;
    display: block;
    margin: auto;
}
.my_frame p{
    font-size: 20px;
}
.my_hpbar,
.rival_hpbar{
    width: 40vw;
    height: 25px;
    background-color: #4b4b4b;
    border-radius:10px;
}
.life_mark
{
    width: 90%;
    height: 100%;
    background-color: #8df369;
    border-radius:10px;
    filter: saturate(500%);
}

.img_box{
    display: flex;
  justify-content: space-between; /* 左右に均等配置 */
}

.atack_pos{
    display: flex;
    justify-content: center;
}
.atack_bar{
    width: 400px;
    height: 40px;
    background-color: #ababab;
    border-radius:10px;
    position: absolute;
    bottom: 20vh;
}
.btn-3d-shadow {
    background: #ff6b6b;
    color: white;
    border: none;
    padding: 14px 36px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 6px 0 #c92a2a, 0 8px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
    position: relative;
    top: 0;
    
    &:hover {
      background-color: #ff5252;
    }
    
    &:active {
      top: 4px;
      box-shadow: 0 2px 0 #c92a2a, 0 4px 6px rgba(0, 0, 0, 0.2);
    }
  }
