/* 戦闘画面
---------------------------------------------------- */

.HP_bar{
    display: flex;
}
.My_frame{
    display: flex;
    display: block;
    margin: auto;
}
.My_frame p{
    font-size: 20px;
}
.My_HPbar,
.Rival_HPbar{
    width: 40vw;
    height: 25px;
    background-color: #4b4b4b;
    border-radius:10px;
}
.life_mark
{
    width: 90%;
    height: 100%;
    background-color: #8df369;
    border-radius:10px;
    filter: saturate(500%);
}