
/* 戦闘画面
---------------------------------------------------- */

/* header */
.hp_bar{
    display: flex;
}
.my_frame{
    display: flex;
    display: block;
    margin: auto;
}
.my_frame p{
    font-size: 20px;
}
.my_hpbar,
.rival_hpbar{
    width: 500px;
    height: 25px;
    background-color: #4b4b4b;
    border-radius:10px;
}
.mylife_mark{
    width: 500px;
    height: 100%;
    background-color: #8df369;
    border-radius:10px;
    filter: saturate(500%);
}
.rivallife_mark{
    width: 500px;
    height: 100%;
    background-color: #8df369;
    border-radius:10px;
    filter: saturate(500%);
}
.img_box{
    display: flex;
  justify-content: space-between; 
}

/* スタートボタン */
.startbtn_pos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* アタックボタン */
.atack_pos{
    display: flex;
    justify-content: center;
}
.atack_bar{
    width: 400px;
    height: 40px;
    background-color: #ababab;
    border-radius:10px;
    position: absolute;
    bottom: 20vh;
}
.atack_mark{
    width: 20px;
    height: 100%;
    background-color: #ff0000;
    border-radius:10px;
    position: absolute;
    left: 380px;
    filter: saturate(500%);
}
.stop_bar{
    width:4px;
    height: 100%;
    background-color: #090909;
    border-radius:10px;
    position: absolute;
    left: 1px;
    filter: saturate(500%);
}

.btn-3d-shadow {
    background: #ff6b6b;
    color: white;
    border: none;
    padding: 14px 36px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
  
    position: absolute;
    bottom: 15vh;
  
    box-shadow: 0 6px 0 #c92a2a;
    transition: all 0.1s ease;
  }
  
  .btn-3d-shadow:active {
    transform: translateY(6px);
    box-shadow: 0 0 0 #c92a2a;
  }

  /* ホーム画面戦闘ボタン */
.sentobutton a {
    font-size: 60px;
    width: 400px; 
    height: 200px;
    left: 50px;
    top: 750px;
    background: #fff700;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    z-index:0;
}
.sentobutton a:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #ee6f0e;
    transition: .3s;
    left:0;
}
.sentobutton a:hover {
    color: #ffffff;
}
.sentobutton a:hover:before {
    width: 100%;
    z-index: -1;
}
/* ホーム画面武器屋ボタン */
.bukiyabutton a {
    width: 500px; 
    height: 100px;
    left: 1000px;
    top: 500px;
    background: #6bb3c5;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    z-index:0;
}
.bukiyabutton a:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #0754d0;
    transition: .3s;
    left:0;
}
.bukiyabutton a:hover {
    color: #ffffff;
}
.bukiyabutton a:hover:before {
    width: 100%;
    z-index: -1;
}