body{
  height: 100vh;
}
/* 戦闘画面
---------------------------------------------------- */

/* header */
.hp_bar{
    display: flex;
}
.my_frame,
.rival_frame{
    width: 500px;
    display: flex;
    display: block;
    margin: auto;
}
.my_frame p{
    font-size: 20px;
}
.my_hpbar,
.rival_hpbar{
    width: 100%;
    height: 25px;
    background-color: #4b4b4b;
    border-radius:10px;
}
.mylife_mark{
    width: 100%;
    height: 100%;
    background-color: #8df369;
    border-radius:10px;
    filter: saturate(500%);
}
.rivallife_mark{
    width: 100%;
    height: 100%;
    background-color: #8df369;
    border-radius:10px;
    filter: saturate(500%);
}
.img_box{
    display: flex;
  justify-content: space-between; 
}

/* リザルト表示 */
.modal {
  display: none; /* 最初は隠す */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: rgb(252, 241, 213);
  padding: 70px;
  border-radius: 15px;
  text-align: center;
  font-size: 30px;
  position: relative;
}
.resulttext{
  font-size: 28px;
  position: absolute;
  top: 30px;
  text-align: center;
}
.modal-content img{
  width: 15vw;
  height: 100%;
}
.resultbutton{
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

/* スタートボタン */
.startbtn_pos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* アタックボタン */
.atack_pos{
    display: flex;
    justify-content: center;
}
.atack_bar{
    width: 400px;
    height: 40px;
    background-color: #ababab;
    border-radius:10px;
    position: absolute;
    bottom: 20vh;
}
.atack_mark{
    width: 20px;
    height: 100%;
    background-color: #ff0000;
    border-radius:10px;
    position: absolute;
    left: 380px;
    filter: saturate(500%);
}
.stop_bar{
    width:4px;
    height: 100%;
    background-color: #090909;
    border-radius:10px;
    position: absolute;
    left: 1px;
    filter: saturate(500%);
}

.btn-3d-shadow {
    background: #ff6b6b;
    color: white;
    border: none;
    padding: 14px 36px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
  
    position: absolute;
    bottom: 15vh;
  
    box-shadow: 0 6px 0 #c92a2a;
    transition: all 0.1s ease;
  }
  
  .btn-3d-shadow:active {
    transform: translateY(6px);
    box-shadow: 0 0 0 #c92a2a;
  }

  /* ホーム画面
  --------------------------------------------------------------------------- */
  
  /* タイトル */
.home_header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #001f3f, #0074D9);
  font-size: 48px;
  letter-spacing: 8px;
  border-bottom: 4px solid #00c3ff;
}

header p {
  margin: 0;
  font-size: 64px;
  background: linear-gradient(90deg, #00c3ff, #ffff1c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    2px 2px 0 #000,
    4px 4px 0 rgba(0,0,0,0.3),
    6px 6px 0 rgba(0,0,0,0.2);
  letter-spacing: 8px;
  font-weight: bold;
}


  /* 背景 */
  .home_body {
      margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
  }

.home_body::before {
  content: "";
  position: absolute;
  top:0; left:0;
  width:100%; height:100%;
  background: url('images/home_back.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.2;
  z-index: 0;
}

  /* アバター */
  .avatar {
    position: absolute;  
    top: 50%;
    right: 45%;
    transform: translateY(-50%);
    display: flex;
    gap: 20px;
  }

  .avatar img {
  width: 250px;
  animation: float 3s ease-in-out infinite;
  .index p {
    margin: 0;
    font-weight: bold;
    letter-spacing: 5px;
    color: rgba(138, 25, 25, 0.788);
    text-shadow: 
      3px 3px 0 #000,
      6px 6px 10px rgba(0, 0, 0, 0.6);
      }
    }

  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
  }

  /* ステータス */
  .st1 {
  font-size: 32px;
  margin-bottom: 40px;
  padding-left: 0;
  text-align: center;
}

  .status-box {
    width: 500px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 50px;
    margin: 150px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  }
  .status .row {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .status dt {
    font-weight: normal;
  }
  .status dd {
    margin: 0;
  }
  .status dt::after {
    content: "　：";
  }
  

  /* 今の装備 */
  .home_equipment {
    position: absolute;
    top: 23%;
    right: 14%;
    transform: translateY(-50%);
    font-size: 32px;
    color:white;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 10px;
    letter-spacing: 4px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }

.now-equipment {
    position: absolute;  
    background-color: #75757515;
    top: 45%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    gap: 90px;
    width: 470px;
    padding: 90px 10px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
.now-equipment img {
    width: 120px;
    height: auto;
}
.equip-box{
    display: flex;
    flex-flow: column;
}
  
/* ボタン */
.btn_battle,
.btn_shop,
.btn_battle_boss {
  position: fixed;
  bottom: 50px;
  font-size: 70px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn_battle {
  background: #98930a;
  color: black;
  left: 100px;
  padding: 80px 75px;
}

.btn_shop {
  background: #1488a5;
  color: black;
  right: 150px;
  padding: 80px 150px;
}

.btn_battle_boss {
  background: #970e0e;
  color: black;
  left: 500px;
  padding: 80px 70px;
}

.btn_battle:hover {
  box-shadow: 0 0 20px #ffe600;
  color: white;
}

.btn_battle_boss:hover {
  box-shadow: 0 0 50px #d10a0a;
  color: white;
}

.btn_shop:hover {
  box-shadow: 0 0 20px #6bb3c5;
  color: white;
}

/* coin */
  #coin {
    position: absolute;
    top: 120px;
    right: 570px;
    font-size: 30px;
    font-weight: bolder;
  }
  /* ランク */
  #rank{
    position: absolute;
    top: 120px;
    right: 250px;
    font-size: 30px;
    font-weight: bolder;
  }


  /* ボタンの並び替え */
.buttons{
    display: flex;
}

  .battle-buttons{
    display: flex;
    flex-flow: column;
    gap: 30px;
  }
 
/* 武器屋画面
--------------------------------------------------------------------------- */
.shopkeeper {
    width: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
}

.center {
    display: flex;
}

.itemsArea {
    display: flex;
    justify-content: space-around;
}

.itemCard {
    border: 1px solid #000;
    padding: 5rem;
}

.itemDetailsArea, 
.statusDifferenceArea {
    width: 15rem;
    overflow-wrap: break-word;
    text-align: center;
}

.button-style {
    display: block;
    width: 150px;
    padding: 10px 25px;
    background: rgba(160, 227, 15, 0.495);
    color: #313131;
    text-decoration: none;
    font-weight: 500;
}

.button-style:hover {
    background: rgba(100, 150, 5, 1);
    transition: 0.3s;
    color: #fff;
}

.messageArea {
    text-align: center;
}
